// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.rate {
    color: rgb(37, 37, 35);
}
.rate .checked {
    color: rgb(255, 0, 0);
}

.rate .rate-item:hover {
    color: rgb(98, 0, 255);
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.web {
    text-overflow: ellipsis !important;
}

.item .item-title {
    font-size: 30px !important;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: black;
}
.item .item-body {
    font-size: 24px !important;
    color: rgb(75, 73, 73);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

div .welcome {
    margin-top: 30px;
    margin-bottom: 30px;
}
div .welcome h3 {
    font-size: 28px !important;
    color: rgb(88, 86, 86);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

div .welcome name {
    font-size: 30px !important;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

div .welcome p {
    font-size: 20px !important;
    color: rgb(75, 73, 73);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

section .message {
    margin: 0 auto;
    width: auto;
    padding: 0 20px;
}

.message .container {
    border: 2px solid #dedede;
    background-color: #443737;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    color: white;
}

.message .darker {
    border-color: #ccc;
    background-color: #beb5b5;
    color: black;
}

.message .container::after {
    content: "";
    clear: both;
    display: table;
}
.message-container {
    overflow: scroll;
    height: 700px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cfcece;
}

.message .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
.message a {
    color: inherit;
    font-size: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
}

.message .title {
    color: blue;
    margin-top: 18px;
    font-size: 30px;
    text-decoration: none;
}

.message .container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.message .time-right {
    float: right;
    color: #f5f4f4;
}

.message .time-left {
    float: left;
    color: #080808;
}

.parent {
    display: flex;
    flex-direction: column;
}
.child {
    margin-top: auto;
}

.nav-link {
    color: white !important;
}

section .title {
    color: inherit;
    font-size: 20px;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    text-decoration: none;
}

.sidebar-opt {
    border-top-right-radius: 30px;
    background-color: rgb(53, 53, 53) !important;
    color: white;
}

.sidebar-opt-doctor {
    border-top-right-radius: 30px;
    background-color: rgb(34, 87, 100) !important;
    color: white;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.login-box {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.btn-outline-dark {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-dark:hover {
    background-color: #ffffff;
    color: #121212;
}

a {
    color: #bb86fc;
}

a:hover {
    color: #ffffff;
}

.goal-container {
    max-width: 800px;
    margin: 30px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.goal-item {
    background: #282828;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-icon {
    font-size: 30px;
    margin-right: 15px;
    color: white;
}

.progress-bar {
    height: 100%;
    background-color: #28a745;
    border-radius: 50px;
    text-align: center;
    line-height: 10px;
    color: white;
}
